@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#topSection {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(4, 9, 30, 0.5);
}

.middle-container {
    max-width: 1140px;
    /* border: 2px solid green; */
    height: 100%;
    margin: auto;
}

.middle-container-top {
    width: 100%;
    /* background-color: red; */
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}


.middle-container-top-content {
    display: flex;
    gap: 20px;

}

header {
    width: 100%;
    padding: 12px 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    transition: 400ms;
}

#toggleBtn {
    display: none;
    cursor: pointer;
}

.open {
    left: 0 !important;
}