@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Assistant", sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1111111;
}

.header-container {
    width: 1200px;
    height: 80px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;

}

.logo {
    width: 53px;
    height: 36px;
    background-image: url('https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png');
    background-position: -462px 0;
    background-size: 1404px 105px;
}

nav ul {
    width: 525px;
    height: 80px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #282c3f;
    font-size: 14px;
    letter-spacing: .3px;



}



.new {
    color: #ff3f6c;
    font-weight: 600;
    font-size: 10px;
    position: absolute;
    top: -7px;

}

.search-container {
    width: 320px;
    height: 40px;
    /* border: 2px solid red; */
    background-color: #f5f5f6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-left: 50px;

}

.search-container input {
    width: 100%;
    height: 100%;
    padding: 8px 10px 10px 10px;
    border: none;
    background-color: transparent;
    outline: none;

}

.user-info {
    width: 194px;
    height: 40px;
    /* border: 2px solid red; */
    margin-left: 50px;
    display: flex;
    justify-content: space-between;

}

.icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.top-banner {
    width: 1250px;
    margin: auto;

}

section {
    width: 1250px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.box {
    width: 200px;
    height: 300px;
}

.card-section {
    width: 1200px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.card {
    width: 246px;
    height: 311px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-filter {
    width: 1200px;
    height: 1000px;
    border: 2px solid red;
    margin: auto;
    display: flex;
}



.filter-section {
    width: 252px;
    height: 1000px;
    border: 2px solid red;
}

.card-section {
    width: 1012px;
    height: 1000px;
    border: 2px solid green;

}

.search-container:focus-within {
    background-color: white;
}

.mega-menu {
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0px 6px 8px red;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 900ms;

}

nav ul li:hover .mega-menu {
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}