* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;

}

.main {
    width: 1170px;
    height: 1604px;
    /* border: 2px solid red; */
    margin: auto;
    background-color: white;

}

.top-section {
    width: 1170px;
    height: 40px;
    background-color: #343130;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo-content {
    /* border: 2px solid red; */
    color: white;
    display: flex;
    gap: 13px;
    font-size: 20px;
    margin-left: 23px;
}

.menu-container {
    width: 1170px;
    height: 140px;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 165px;
    height: 125px;
    margin: 10px 0px 0px 50px;
}

.menu-bar {
    width: 900px;
    height: 140px;
    display: flex;

}



.menu-item {
    margin: 100px 0px 0px 63px;
    font-size: 20px;
    font-weight: bold;
    color: #343130;
}

.menu-item a {
    font-family: Arial, Helvetica, sans-serif;
}

.middle-container {
    width: 1170px;
    border: 20px #f1f0ef solid;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}

.middle-left{
    width: 260px;
    height: 750px;
    border: 2px solid red;
}

.middle-right{
    width: 850px;
    height: 750px;
    border: 2px solid blue;
}