@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;

}

header {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11111;


}

.header-container {
    max-width: 1170px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-btn {
    display: flex;
    gap: 20px;
}

.chat-btn {
    color: #27AE60;
    border: 2px solid #27AE60;
    border-radius: 8px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.call-btn {
    color: white;
    background: linear-gradient(to left, #0ACEFE, #2699FB);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.top-section{
    width: 1170px;
    border: 2px solid red;
    margin: 20px auto;
    display: flex;
    gap: 30px;



}

.top-section-left{
    width: 50%;
    border: 2px solid green;
    padding: 4px;
  
}

.top-section-right{
    width: 50%;
    border: 2px solid blue;
  
}


.top-section-left h1{
    font-size: 52px;
    font-weight: 700;
}

.top-section-left h1 span{
    color: #2699FB;
    background-image: url('../images/Vector\ 63\ \(5\).png');
    background-repeat: no-repeat;
    background-position: bottom;
}
